body {
  background: radial-gradient(#c9c0c0, #d1ebeb)!important;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.email {
  color: blue;
}

.cream {
  font-weight: 600;
  color: white;
}
