body {
  background-image: linear-gradient(to right, #8360c3, #2ebf91) !important;
 
}

h1, h2, h3 {
  color:rgb(148, 255, 121);
}

strong {
  color:rgb(132, 248, 94);
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-wrap: break-word;
  color:rgb(221, 205, 205);
}

.email, label, legend {
  color: blue;
}

.cream {
  font-weight: 600;
  color: white;
}



.btn-contact {
  border: 1px solid rgb(163, 161, 161) !important;
  background-color: rgba(216, 144, 12, 0.733) !important;
  color:aliceblue !important;
  opacity: 0.8;
  
  }
  
  .btn:hover, .btn:active {
      color: white !important;
      border: 1px solid rgb(248, 245, 245) !important;
      opacity: 1;
      }


      img {
        aspect-ratio: 16/9;
      }


      button, form > input, textarea {
        border-radius: 7px !important;
        border: none;
      }


    