body {
  background: radial-gradient(#c9c0c0, #d1ebeb)!important;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.email, label, legend {
  color: blue;
}

.cream {
  font-weight: 600;
  color: white;
}



.btn-contact {
  border: 1px solid rgb(163, 161, 161) !important;
  background-color: rgba(216, 144, 12, 0.733) !important;
  color:aliceblue !important;
  opacity: 0.8;
  
  }
  
  .btn:hover, .btn:active {
      color: white !important;
      border: 1px solid rgb(248, 245, 245) !important;
      opacity: 1;
      }


      img {
        aspect-ratio: 16/9;
      }